:root {
  --window-background-color: #efefef;
  --form-container-background-color: #ffffff;
  --login-button-color: #c3001e;
  --field-error-color: #b00020;
  --field-text-color: #000000bc;
  --border-color: #0000001f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {

 /* this make 1rem = 10px (make it easy to calcute) */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--window-background-color);
}

.continaer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 100vh;
}

